
body {
  background: #cfcac2;
  font-family: Fantasy;
  font-size: 24px;
  color: #7851a9;
}

h1 {
  background: #cc99ff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  size: 48px
}
.table {
  width: 100%
  height:80px;
  background:#d3d3d3
}


#addButton {
  background-color: #b19cd9;
  font-family: Serif;
}


ul.todo#todo:empty:after {
  content: 'You have nothing to-do!';
  margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
  content: 'You have yet to complete any tasks.';
}
